# Tipi di dati in Python

In Python ci sono vari tipi di dati, tra cui string (testo), int (numeri interi), float (numeri razionali), boolean (vero/falso).

## Come sapere quale tipo di dato contiene una variabile?

Si usa la funzione **type()**.

In [6]:
x = "abc"
type(x)

str

In [9]:
y = 35
type(y)

int

In [11]:
z = 0.34
type(z)

float

In [14]:
a = True
type(a)

bool

Vediamo più in dettaglio le stringhe e i numeri interi.

## String

### Concatenazione

Due stringhe si possono concatenare con +. Esempio:

In [20]:
x = "Hello"
y = "World"

print(x+y)

HelloWorld

### Indicizzazione

Possiamo prendere l'**n**-esimo elemento di una stringa **a** usando le parentesi quadre: **a[n]**.

Le parentesi quadre si scrivono con ALTGR+ŠĐ.

In [25]:
x = "ABCDE"
x[1]

'B'

Perché non A?

### Esercizio

1. Inizializzare due variabili, **a** e **b**, il cui valore è dato in input dall'utente.
2. Creare una terza variabile **c** che sarà la **concatenazione** di **a** e **b**.
3. Stampare con print() i tre valori, nel formato: "a è ___, b è ____, c è ____".
4. Inizializzare le variabili **i** e **j**. Possono contenere qualsiasi valore intero da 0 a 5.
5. Stampare con print: "Il valore numero 'i' della stringa concatenata è ..."

In [80]:
# codice

## Integer

Possiamo sommare, sottrarre, moltiplicare e dividere numeri interi.

In [34]:
x = 10
y = 3

In [36]:
x+y

13

In [40]:
x*y

30

Possiamo anche calcolare il **resto della divisione** di un numero per un altro con **x%y**.

In [52]:
x%y # Il resto della divisione di 10 per 3 è...

1

E anche calcolare $x^y$, con x**y.

In [61]:
x**y # 10 alla 3 fa...

1000

### Interazione di input() con numeri

In [64]:
x = input("Scrivi il primo numero: ")
y = input("Scrivi il secondo numero: ")

Scrivi il primo numero:  1
Scrivi il secondo numero:  2

In [66]:
print(f"x è {x}, y è {y}")

x è 1, y è 2

Tutto funziona bene, ma se andiamo a fare x+y...

In [72]:
x+y # 1+2 fa...

'12'

Perché?

### Esercizio

1. Inizializzare due variabili: **nome** e **anno**, che rappresentano il nome e l'anno di nascita di una persona. I valori delle variabili devono essere presi con **input()**.
2. Calcolare l'età della persona assumendo che sia nata il 1 gennaio. (Come si fa?)
3. Stampare le informazioni sulla persona usando print().

In [78]:
# codice